<%- include('partials/head') %>

    <%- include('partials/navigation') %>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1"> About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse perferendis consectetur eos nobis quibusdam impedit, doloribus doloremque porro cumque ex vero velit praesentium aliquam ea deserunt molestias veritatis soluta iste debitis commodi vel quae officia qui. Commodi ea a at, animi sit neque consectetur perferendis debitis, ipsum quia nobis praesentium consequatur facere iure. Voluptatum nisi aliquid officia expedita laboriosam ipsa quo, sit laborum odit delectus. Voluptate nihil repudiandae fugiat tenetur dolores distinctio praesentium blanditiis maiores, omnis saepe molestiae nam. Suscipit asperiores reiciendis quaerat. Amet sed a placeat eligendi odit recusandae explicabo assumenda rerum iusto repellat libero, soluta mollitia quod eius at, nesciunt quo perferendis suscipit dicta enim doloremque officia ratione culpa! Harum, commodi perferendis? Tempore blanditiis totam, quos deserunt explicabo quasi soluta ducimus cum aspernatur reiciendis, quia eum facilis. Libero, tempora excepturi inventore veritatis repellendus veniam dignissimos aperiam maxime, sapiente, labore laboriosam quo nobis totam eum architecto nostrum dolorum nisi sit quam laudantium aspernatur repellat exercitationem fugit deleniti. Consectetur praesentium iusto rem mollitia? Explicabo aperiam maiores sint eaque, unde animi, consequatur, veritatis nemo veniam illo quaerat dolore aut quisquam ipsa velit sed pariatur delectus repellat itaque! Odio quae aut provident, eius consectetur itaque. Placeat, ex. Rem, quis! Labore, voluptas et!</p>
        </section>
    </main>
</body>
</html>